# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
promodRemod-lite/enterleave.log
*.log
promodRemod-lite/missingasset.csv
promodRemod-lite/missingasset.csv
promodRemod-lite/qconsole.log.old
promodRemod-lite/missingasset.csv
promodRemod-lite/missingasset.csv
promodRemod-lite/q3config_server.cfg
promodRemod-lite/q3config_server.cfg
